<div class="row">
    <div class="col-12">
      <h1>Update</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
          <li class="breadcrumb-item">Colors</li>
          <li class="breadcrumb-item active" aria-current="page">Update</li>
        </ol>
      </nav>
      <div class="separator mb-5"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header">
          <div class="ml-2 mt-3">
            <button type="button" class="btn btn-primary" routerLink="/admin/colors/view/{{color.id}}" *ngIf="color"><i
                class="fa fa-arrow-left"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="colorUpdateForm" *ngIf="colorUpdateForm" (ngSubmit)="updateColor()">
            <div class="form-group">
              <label for="name">Name</label>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>
            <button type="submit" class="btn btn-warning mb-0 mt-1">Update</button>
          </form>
  
        </div>
      </div>
    </div>
  </div>
