<div class="card-deck mt-5">
    <div class="card">
      <div class="card-body text-center">
        <div><i class="iconsminds-drop large-icon"></i>
          <h5 class="mb-3 font-weight-semibold">Color</h5>
        </div>
        <div>
          <p class="detail-text">We are supporting over<br>{{colorLength + "+ color options."}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div><i class="iconsminds-car large-icon"></i>
          <h5 class="mb-3 font-weight-semibold">Model</h5>
        </div>
        <div>
          <p class="detail-text">We are supporting over<br>{{modelLength + "+ model options."}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div><i class="iconsminds-factory large-icon"></i>
          <h5 class="mb-3 font-weight-semibold">Brand</h5>
        </div>
        <div>
          <p class="detail-text">We are supporting over<br>{{brandLength + "+ brand options."}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div><i class="iconsminds-user large-icon"></i>
          <h5 class="mb-3 font-weight-semibold">Customer</h5>
        </div>
        <div>
          <p class="detail-text">There are currently<br>{{customerLength + "+ active customers."}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div><i class="iconsminds-key large-icon"></i>
          <h5 class="mb-3 font-weight-semibold">Rental</h5>
        </div>
        <div>
          <p class="detail-text">We were used to<br>rent {{rentalLength + "+ vehicles."}}</p>
        </div>
      </div>
    </div>
  </div>
