<div class="row">
    <div class="col-12">
      <h1>User Operation Claims</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Operation Claims</li>
        </ol>
      </nav>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row view-filter mb-3">
            <div class="col-sm-12">
              <div class="float-right">
                <button type="button" class="btn btn-success" routerLink="/admin/useroperationclaims/add"><i
                    class="fa fa-plus-circle fa-lg"></i></button>
              </div>
              <div class="float-left">
                <div>
                  <label>
                    <input type="search" class="form-control form-control-sm" placeholder="Search By Last Name"
                      [(ngModel)]="filterText">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <table class="data-table dataTable data-table-feature table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Operation Claim</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let userOperationClaimDetail of userOperationClaimDetails | userOperationClaimDetailFilterPipe: filterText; let i = index"
                (click)="getUserOperationClaimDetailViewById(userOperationClaimDetail.id)">
                <td><b>{{i + 1}}</b></td>
                <td>{{userOperationClaimDetail.firstName + " " + userOperationClaimDetail.lastName}}</td>
                <td>{{userOperationClaimDetail.operationClaimName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
