<div class="row">
    <div class="col-12">
      <h1>View</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink="/admin/cars/list">Cars</a></li>
          <li class="breadcrumb-item active" aria-current="page">View</li>
        </ol>
      </nav>
      <div class="separator mb-5"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card" *ngIf="carDetail">
        <div class="card-header">
          <div class="row mt-3">
            <div class="col-sm-12">
              <div class="float-right">
                <button type="button" class="btn btn-warning" routerLink="/admin/cars/update/{{carDetail.id}}"><i
                    class="fa fa-pencil-square-o fa-lg"></i></button>
                <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#removeCar"><i
                    class="fa fa-trash fa-lg"></i></button>
                <div class="modal fade" id="removeCar" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">This Process Cannot Be Undone!
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you really want to delete this car?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger"
                          routerLink="/admin/cars/remove/{{carDetail.id}}">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="float-left">
                <button type="button" class="btn btn-primary" routerLink="/admin/cars/list"><i
                    class="fa fa-arrow-left fa-lg"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><b>Selected Car Details:</b></h5>
          <hr class="my-4">
          <p class="card-text"><b>Brand:</b>&emsp;{{carDetail.brandName}}</p>
          <p class="card-text"><b>Model:</b>&emsp;{{carDetail.modelName}}</p>
          <p class="card-text"><b>Year:</b>&emsp;{{carDetail.modelYear}}</p>
          <p class="card-text"><b>Color:</b>&emsp;{{carDetail.colorName}}</p>
          <p class="card-text"><b>Daily Price:</b>&emsp;{{carDetail.dailyPrice}}</p>
          <p class="card-text"><b>Description:</b>&emsp;{{carDetail.description}}</p>
          <p class="card-text"><b>Image:&emsp;</b><br /><img [src]="getCarImage(carDetail)" style="height: 20vh;"
              class="mt-2" />
          </p>
        </div>
      </div>
    </div>
  </div>
