<div class="form-inline">
    <h5 class="mr-3 mt-1">Detailed Search:</h5>
    <select class="form-control mr-sm-2 pr-5" [(ngModel)]="selectedBrandId">
      <option [ngValue]="undefined" disabled selected>
        Choose a Brand
      </option>
      <option [ngValue]="brand.id" *ngFor="let brand of brands" [selected]="selectedBrandId > 1? true : null">
        {{brand.name}}
      </option>
    </select>
    <select class="form-control mr-sm-2 pr-5" [(ngModel)]="selectedColorId">
      <option [ngValue]="undefined" disabled selected>
        Choose a Color
      </option>
      <option [ngValue]="color.id" *ngFor="let color of colors" [selected]="selectedColorId > 1? true : null">
        {{color.name}}
      </option>
    </select>
    <input type="text" class="form-control mr-sm-2 pr-5" [(ngModel)]="minDailyPrice" placeholder="Minimum Daily Price">
    <input type="text" class="form-control mr-sm-3 pr-5" [(ngModel)]="maxDailyPrice" placeholder="Maximum Daily Price">
    <button (click)="filter()" class="btn btn-primary">Filter</button>
  </div>
